음악 분류.json
{
  "name": "음악 분류",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        72
      ],
      "id": "8edc2e05-d4c6-4f0f-ab7c-02bacacb3acb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1e8nsKPcrI4u05TreZ2JlxSbc2ANlar6I",
            "mode": "list",
            "cachedResultName": "Final",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1e8nsKPcrI4u05TreZ2JlxSbc2ANlar6I"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        72
      ],
      "id": "7aa91352-7280-4211-869f-d09d1ab1e82e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "St44Rgj6rWJ1xALt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        72
      ],
      "id": "f583b465-4f12-4ad9-9e7c-6a24ed5b6e21",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "mp3 파일을 듣고, 분류해 줘. 답변은 한글로 해줘.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "dc288524-aaf9-49ac-bb87-9560df40b6c0",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "uF0lFwjkcpeF4fr9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "71deee5c-8e2b-4d9d-a69b-92f22e3d4ae9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "St44Rgj6rWJ1xALt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_y2YB_ydi6ZPLWU3zwL5NTE3G2G7W8vvlfaBAROua_8",
          "mode": "list",
          "cachedResultName": "분류",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_y2YB_ydi6ZPLWU3zwL5NTE3G2G7W8vvlfaBAROua_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_y2YB_ydi6ZPLWU3zwL5NTE3G2G7W8vvlfaBAROua_8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content.parts[0].text }}",
            "name": "={{ $('Download file').item.json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        72
      ],
      "id": "65297782-30ab-4ae2-9c67-db85d7a924e2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gtX0wmEGrOtDCLT8",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c20805fb-e987-486b-831f-6e168b989cd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffc0021b6aa1387d7d479a478437994873c70892effa2922a5b921737867bd28"
  },
  "id": "p18kHGY4MJgu86vU",
  "tags": []
}